@model List<ESP.Models.Domains.Question>

<h1>Questions</h1>

<table class="table">
    <thead>
        <tr>
            <th>Pytanie</th>
            <th>Kategoria</th>
            <th>Twórca</th>
            <th>Data stworzenia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quest in Model)
        {
            <tr>
                <td>@quest.Text</td>
@*                 <td>@quest.AnswerA</td>
                <td>@quest.AnswerB</td>
                <td>@quest.AnswerC</td>
                <td>@quest.CorrectAnswer</td> *@
                <td>@quest.Category</td>
                <td>@quest.Creator</td>
                <td>@quest.CreationTime.ToString("dd-MM-yyyy")</td>
                @* <td>@quest.SelectedOption</td> *@
                <td><a href="Update/@quest.Id">Update</a></td>
            </tr>
        }
    </tbody>
</table>

