@model List<ESP.Models.Domains.Question>

<h1>Odpowiedz na Pytania</h1>

<table class="table">
    <thead>
@*         <tr>
            <th>Pytanie</th>
        <tr> *@
@*         </tr>
            <th>AnswerA</th>
            <th>AnswerB</th>
            <th>AnswerC</th>
            <th></th>
        </tr> *@
    </thead>
    <tbody>
        @using (Html.BeginForm("CheckAnswer", "QuestionController", FormMethod.Post))
        {
            // Grupowanie questów według kategorii
            var groupedQuests = Model.GroupBy(q => q.Category);

            foreach (var group in groupedQuests)
            {
                // Pobranie dwóch questów z każdej grupy
                var selectedQuests = group.OrderBy(q => Guid.NewGuid()).Take(2);

                foreach (var quest in selectedQuests)
                {
                <th>Pytanie</th>
                <tr>
                    <td>@quest.Text</td>
                </tr>
                <td><b>A:</b> @quest.AnswerA</td>
                <tr></tr>
                <td><b>B:</b> @quest.AnswerB</td>
                <tr></tr>
                <td><b>C:</b> @quest.AnswerC</td>
                <tr></tr>
                <input type="hidden" name="questions[@quest.Id].Id" value="@quest.Id" />
                <input type="hidden" name="questions[@quest.Id].CorrectAnswer" value="@quest.CorrectAnswer" />
                <label>
                    <input type="radio" name="questions[@quest.Id].SelectedOption" value="1"> A
                </label>
                <br>
                <label>
                    <input type="radio" name="questions[@quest.Id].SelectedOption" value="2"> B
                </label>
                <br>
                <label>
                    <input type="radio" name="questions[@quest.Id].SelectedOption" value="3"> C
                </label>
                <tr></tr>
                }
            }
        <input type="submit" value="Wyślij">
        }
    </tbody>
</table>

