@model List<ESP.Models.Domains.Question>

<h1>Odpowiedz na Pytania</h1>


    
        @using (Html.BeginForm("CheckAnswer", "Question", FormMethod.Post))
        {
            // Grupowanie questów według kategorii
            var groupedQuests = Model.GroupBy(q => q.Category);

            foreach (var group in groupedQuests)
            {
                // Pobranie dwóch questów z każdej grupy
                var selectedQuests = group.OrderBy(q => Guid.NewGuid()).Take(2);

                foreach (var quest in selectedQuests)
                {

                    <input type="hidden" name="questions[@quest.Id].Id" value="@quest.Id" />
                    <input type="hidden" name="questions[@quest.Id].CorrectAnswer" value="@quest.CorrectAnswer" />
            <input type="hidden" name="questions[@quest.Id].Text" value="@quest.Text" />
            <table class="table">
                <tbody>
                    <tr>
                <th></th>
                    </tr>
                <tr>
                    <th>@quest.Text</th>
                </tr>
                <tr>
                <td>
                    <label>
                        <input type="radio" name="questions[@quest.Id].SelectedOption" value="1">
                    </label>
                    <b>A:</b> @quest.AnswerA
                    </td>
                    </tr>
                <tr></tr>
                <tr>
                <td>
                    <label>
                        <input type="radio" name="questions[@quest.Id].SelectedOption" value="2">
                    </label>
                    <b>B:</b> @quest.AnswerB
                    </td>
                    </tr>
                <tr></tr>
                    <tr>
                <td>
                    <label>
                        <input type="radio" name="questions[@quest.Id].SelectedOption" value="3">
                    </label>
                    <b>C:</b> @quest.AnswerC
                    </td>
                    </tr>
                <tr></tr>
                <tr></tr>
                </tbody>
            </table>
                }
            }

        <input type="submit" class="btn btn-primary" value="Wyślij">
        }
        